@import "../../constants/colors";

.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: $background-primary;
}
.home__body {
  display: flex;
  flex: 1;
  padding: 0 40px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.orgs {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.orgs__head {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.orgs__head h1 {
  font-weight: 300;
  color: $text-white;
}
.orgs__content {
  flex: 1;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.addProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.addProject > span {
  margin-top: 10px;
  color: $text-white;
  font-size: 16px;
}
.addProject > svg{
  color: $text-white;
}
@media screen and (max-width: 1200px) {
  .orgs__head h1,
  .orgs__head {
    height: 60px;
  }
}
