@import "../../constants/colors";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__image {
  height: 60px;
  width: 60px;
  object-fit: contain;
}
.logo__text {
  color: $primary;
  font-size: 20;
  font-weight: 100;
}
@media only screen and (max-width: 768px) {
  .logo__image {
    height: 40px;
    width: 40px;
  }
  .logo__text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1200px) {
  .logo__image {
    height: 45px;
    width: 45px;
  }
}
